.header{
    color:#041f27; 
}
a.title_label{
    text-decoration: none;
    color: #041f27 !important;
}
.title{
    margin-top: 45px !important;
    font-size:32px;
    font-family:Inter;
    font-weight: 860;    
    font-style: italic;
}
.title_label{
    margin-left: 16px;
}
.enter{
    margin-top: 44px !important;
    display: flex;
    justify-content: right;
}
.enter_button{
    height: 60px;
    width: 210px;
    border-radius: 30px;
    border: #ECECEC;
    background-color: #ECECEC;
    font-size:20px;
    font-family:Inter;
    font-weight: 350;
    } 
.content{
    margin-top: 60px;
    padding-bottom: 20px;
}
.history_label{
    font-size: 30px;
    color: #041f27;
}
.line{
    height: 3px;
    background-color: #041f27;
    margin-top: 15px;
}
.card{
    border-color: #041F27;
    margin-top: 30px;
    border-radius: 10px !important;
}
.otstup_card{
    width: 380px;
    padding-left: 20px;
  }
  .image_number{
    height: 250px;
    width: 360px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
.title_hotel{
    font-size: 24px;
    font-weight: 500;
}
.otstup{
    margin-left: 1px;
}
.ramka{
    background-color: #5895A7;
    margin-top: 10px;
    height: 30px;
    width: 40px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    border-color: #5895A7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hotel_address{
    margin-top: 15px;
    height: fit-content;
}
.address{
    margin-top: 10px;
}
.date_label{
    color: #041F27;
    margin-top: 15px;
    font-size: 22px;
    font-weight: 400;
}
.date-date{
    color: #041F27;
    font-size: 20px;
    font-weight: 400;
}
.titlenumber_status{
    margin-top: 30px;
}
.title_number{
    color: #041F27;
    font-size: 22px;
}
.status{
    border-radius: 10px;
    background-color: #ABFF9D;
    height: 45px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    color: #041F27;
}
.price_replace{
    margin-top: 30px;
}
.price{
    height: fit-content;
    font-size: 22px;
    color: #041F27;
    font-weight: 400;
}
.replace{
    margin-top: 10px;
    display: flex;
    justify-content: right;
}
.replace_button{
    background-color: #0F4757;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    border: none;
}
.replace_button:disabled {
    cursor: pointer !important;
}

a{
    color: #041F27 !important;
    text-decoration: none;
}


/* модальное окно для отзыва */
.modal-content{
    padding: 0px 40px;
}
.modal_header{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.titte_window{
    font-size: 40px;
    color: #041F27;
    font-weight: 400;
}
.review-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}
.form-group {
    margin-bottom: 25px;
}
.star-rating {
    direction: rtl;
    display: inline-block;
}
.star-rating input {
    display: none;
}
.star-rating label {
    color: #ccc;
    font-size: 30px;
    padding: 0 5px;
    cursor: pointer;
}
.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffc107;
}
.criteria {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.criteria-name {
    width: 200px;
    font-weight: bold;
}
.range-slider {
    flex-grow: 1;
    margin: 0 15px; 
}
.range-value {
    width: 30px;
    text-align: center;
    font-weight: bold;
}
textarea.otz_text {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
}
textarea.otz_text:focus{
    outline: #ddd;
    border-color: #ddd;
}
textarea.otz_text:focus::-webkit-scrollbar {
    width: 10px; /* ширина scrollbar */
    }
    
    textarea.otz_text:focus::-webkit-scrollbar-track {
    background: white; /* цвет дорожки */
    }
    
    textarea.otz_text:focus::-webkit-scrollbar-thumb {
    background-color: #c2c2c2; /* цвет плашки */
    border-radius: 20px; /* закругления плашки */
    border: 2px solid white; /*padding вокруг плашки*/
    }
.submit-btn {
    background-color: #0F4757;
    height: 50px;
    width: 200px;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    transition: background-color 0.3s;
    margin-bottom: 30px;
}
.submit-btn:hover {
    background-color: #0d3c49;
}

.submit-btn2 {
    background-color: #0F4757;
    height: 50px;
    width: 160px;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    transition: background-color 0.3s;
    margin-bottom: 30px;
}
.submit-btn2:hover {
    background-color: #0d3c49;
}
/*  */

/* hover кнопочек и ссылок*/
button.enter_button:hover{
    background-color: #e2e2e2;
}
button.replace_button:hover{
    background-color: #0d3c49;
}
a.title_hotel:hover{
    color: #2e6b7e !important;
}
/* конец hover */

body::-webkit-scrollbar {
    width: 12px; /* ширина scrollbar */
  
    }
    
    body::-webkit-scrollbar-track {
    background: #F5F5F5; /* цвет дорожки */
    }
    
    body::-webkit-scrollbar-thumb {
    background-color: #0F4757; /* цвет плашки */
    border-radius: 20px; /* закругления плашки */
    border: 1px solid white; /*padding вокруг плашки*/
    }


@media (max-width: 1199.98px) {
/* шапка */
.qwe{
    width: 10% !important;
}
}
@media (max-width: 995.98px) {
/* Шапка */
.logo_img{
    margin-top: 5px;
    height: 95px;
    width: 125px;
}
.title{
    font-size:28px;
}
.enter_button{
    font-size: 0 !important;
    color: transparent !important;
    background-color: transparent;
    background-image: url(../pols/images/profile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
}
}
@media (max-width: 767.98px) {
    /* шапка */
.header{
    width: 100% !important;
}
.qwe{
    width: 100% !important;
}
}
@media (max-width: 575.98px) {
/* шапка */
.header{
    width: 100%;
}
.enter{
    margin-top: 45px !important;
}
}