body{
  font-family:Inter;
}
.header{
  color:#041f27;
}
a{
  color: #041f27 !important;
  text-decoration: none !important;
}
.title{
  margin-top: 45px !important;
  font-size:32px;
  font-family:Inter;
  font-weight: 860;    
  font-style: italic;
}
.title_label{
  margin-left: 16px;
}
.qwe{
  flex: 0 0 auto;
  width: 25% !important;
}
.favorites{
  margin-right: 3rem !important;
  margin-top: 55px !important;
  font-size: 18px;
  font-family:Inter;
  font-weight: 350; 
}
.favo{
  margin-top: 5px;
  padding-right: 0px;
}
a.favorites_label{
  color: #041f27;
  text-decoration: none;
  cursor: pointer;
}
.suitcase{
  margin-top: 55px !important;
  font-size: 18px;
  font-family:Inter;
  font-weight: 350;
  padding-right: 0px; 
}
a.suitcase_label{
  color: #041f27;
  text-decoration: none;
  cursor: pointer;
}
.enter{
  margin-top: 44px !important;
  display: flex;
  justify-content: right;
}
.enter_button{
  height: 60px;
  width: 210px;
  border-radius: 30px;
  border: #ECECEC;
  background-color: #ECECEC;
  font-size:20px;
  font-family:Inter;
  font-weight: 350;
  }

.search{
  color: #041F27;
  background-color: #0F4757;
  margin-top: 80px;
  height: 110px;
  border-radius: 5px;
}
.city_input{
  padding-left: 25px;
  font-size: 20px;
  margin-left: 22px;
  height: 70px;
  width: 375px;
  border-radius: 5px;
  border: #fff;
}
.date{
  padding-left: 25px;
  margin-left: 23px;
  height: 70px;
  width: 200px;
  border-radius: 5px;
  border: #fff;
}
.form-select {
  padding-left: 25px !important;
  color: #041F27 !important; 
  width: 230px !important;
  font-size: 22px !important;
}
select:focus{
  border: none; 
  border-color: #0F4757 !important;
  box-shadow: 0 1px 1px #0F4757 inset, 0 0 8px #0F4757 !important;
}
.people{
  padding-left: 25px;
  margin-left: 23px;
  height: 70px;
  width: 230px;
  border-radius: 5px;
  border: #fff;
}
.search_button{
  font-size: 28px;
  background-color: #0F4757;
  margin-left: 23px;
  height: 80px;
  width: 180px;
  border-radius: 10px;
  color: #fff;
  border: #0F4757;
}
input{
  font-size: 22px !important;
}
input:focus {
  outline: #ffffff;
  border-color: #ffffff;
}
::placeholder{
  font-size: 20px;
  font-family:Inter;
  font-weight: 350;
}
input.date{
  color: #041f27;
}

.info{
  margin-top: 90px !important;
  color: #041F27;
  font-size: 24px;
  font-family:Inter;
  font-weight: 350;
}
.info_card{
  height: 340px;
  width: 400px;
  border-radius: 15px;
  border: #0F4757 3px solid;
}
.info_img{
  margin-top: 35px !important;
}
.info_label{
  height: 170px;
  width: 350px;
  text-align: center;
}
.carousel-control-next, .carousel-control-prev {
  width: 6% !important;
}
.popular_cities{
  background-color: #F5F5F5;
  margin-top: 70px ;
  border-radius: 5px;
  color: #013144;
  margin-bottom: 80px;
  padding-bottom: 20px;
}
.popular_cities_label{
  font-size: 32px;
}
.cities{
  margin-left: 4px !important;
  margin-right: 10px !important;
}
.card{
  margin: 6px;
  height: 425px;
  width: 310px;
}

.price{
  margin-top: 20px;
  margin-left: 5px;
}
.price_label{
  color: #041F27 !important;
  font-family:Inter;
  font-weight: 400;
  font-size: 20px;
}
.title_city{
  margin-top: 22px;
  margin-left: 5px;
  margin-bottom: 13px;
}
.title_city_label{
  font-family:Inter;
  font-weight: 400;
  font-size: 28px;
}
.cards-wrapper{
  display: flex;
}

/* модальное окно авторизации/регистрации */
.close_close{
  padding-top: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: right;
}
.modal_header{
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.titte_window{
  font-size: 40px;
  color: #041F27;
  font-weight: 400;
}
.email_div{
  margin-top: 50px;
}
.password_div{
  margin-top: 30px;
}
.password_div_2{
  margin-top: 30px;
}
input.modal_input{
  font-size: 24px;
  padding-left: 24px;
  border-radius: 10px;
  border: #D9D9D9 3px solid;
  width: 300px;
  height: 60px;
}
input.modal_input:focus{
  outline: #D9D9D9;
}
.modal_login_div{
  margin-top: 50px;
}
.log_in_modal{
  color: #fff;
  font-size: 28px;
  height: 65px;
  width: 240px;
  border: none;
  background-color: #0F4757;
  border-radius: 10px;
}
/* модалка авторизованного пользователя */
.modal_header_auth{
  margin-top: 20px !important;
  padding-left: 50px;
  padding-right: 50px;
}
.email_label{
  font-size: 28px;
  font-weight: 400;
  color: #041F27;
}
.email{
  font-size: 26px;
  font-weight: 400;
  color: #041F27;
}
.linked_cards{
  font-size: 24px;
  padding-left: 35px;
  margin-top: 30px !important;
}
.card_card{
  padding-left: 30px;
  margin-top: 30px !important;
}
.card_bank{
  border-radius: 5px;
  color: #fff !important;
  font-size: 16px;
  height: 67px !important;
  width: 120px;
  background-color: #F08A48 !important;
  border: none !important;
}
.number{
  display: flex;
  justify-content: right;
  padding-right: 10px;
  padding-top: 5px;
}
.date_active{
  display: flex;
  justify-content: left;
  padding-left: 10px;
  padding-top: 5px;
}
.btn_unite{
  display: flex;
  justify-content: left;
  align-items: center;
}
.untie_it{
  color: #fff !important;
  height: 45px;
  width: 180px;
  border-radius: 10px;
  border: none;
  background-color: #0F4757;
  font-size: 20px;
}
.modal_logout_div{
  margin-top: 50px;
  padding-bottom: 10px;
}
.log_out_modal{
  color: #fff;
  font-size: 28px;
  height: 65px;
  width: 240px;
  border: none;
  background-color: #041F27;
  border-radius: 10px;
}
/* конец авторизованной модалки */
.reg_in_modal{
  color: #fff;
  font-size: 24px;
  height: 65px;
  width: 280px;
  border: none;
  background-color: #0F4757;
  border-radius: 10px;
}
.modal_footer{
  font-weight: 400;
  color: #041F27;
  margin-top: 30px;
  font-size: 20px;
  padding-bottom: 30px;
}
a.registr_button{
  font-weight: 500;
  color: #041F27;
  cursor: pointer;
}
a.login_button{
  font-weight: 500;
  color: #041F27;
  cursor: pointer;
}

/* модальное после оплаты */
.label_pay{
  font-size: 24px;
  font-weight: 400;
  padding: 0px 40px 14px 40px;
}


/* hover кнопочек и ссылок*/
button.enter_button:hover{
  background-color: #e2e2e2;
}
/* конец hover */

body::-webkit-scrollbar {
  width: 12px; /* ширина scrollbar */

  }
  
  body::-webkit-scrollbar-track {
  background: #F5F5F5; /* цвет дорожки */
  }
  
  body::-webkit-scrollbar-thumb {
  background-color: #0F4757; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 1px solid white; /*padding вокруг плашки*/
  }


@media (max-width: 1399.98px) {
  /* Шапка */
  .qw{
    padding: 0px !important;
  }
  .favorites{
    margin-right: 0rem !important;
  }
  .enter{
    padding-left: 0px !important;
  }
  .enter_button{
    width: 190px;
    font-size: 18px;
    }
  /* поиск */
  .search{
    margin-top: 60px;
  }
  .search_button{
    font-size: 26px;
    margin-left: 0px;
    width: 20%;
  }
  /* города */
  .card{
    margin: 3px;
    width: 270px;
  }
  .title_city_label{
    font-size: 26px;
  }
}
@media (max-width: 1199.98px) {
  /* шапка */
  .qwe{
    width: 10% !important;
  }
  /* поиск */
  .city_input{
    padding-left: 15px;
    margin-left: 15px;
    height: 70px;
    width: 250px;
  }
  .date{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 13px;
    width: 170px;
  }
  .people{
    padding-left: 15px;
    margin-left: 13px;
    width: 180px !important;
  }
  .search_button{
    font-size: 25px;
    margin-left: 0px;
    width: 15%;
  }
  /* инфо */
  .info{
    margin-top: 60px !important;
    font-size: 20px;
  }
  .info_card{
    height: fit-content;
    width: 300px;
  }
  .info_img{
    width: 80px;
    height: 80px;
  }
  /* города */
  .popular_cities{
    margin-top: 50px ;
    margin-bottom: 50px;
  }
  .popular_cities_label{
    font-size: 28px;
  }
  .card{
    width: 225px;
  }
  .price_label{
    font-size: 18px;
  }
  .title_city_label{
    font-size: 22px;
  }
  .cards-wrapper{
    display: flex;
  }
}
@media (max-width: 995.98px) {
  /* Шапка */
  .logo_img{
    margin-top: 5px;
    margin-left: 20px !important;
    height: 95px;
    width: 125px;
  }
  .title{
    font-size: 26px;
  }
  .favorites, .suitcase{
    font-size: 16px;
    font-weight: 450;
  }
  .enter_button{
    font-size: 0 !important;
    color: transparent !important;
    background-color: transparent;
    background-image: url(../pols/images/profile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
  }
  /* Поиск */
  .search {
    margin-top: 40px;
    flex-direction: column;
    height: auto;
    padding: 15px 10px !important;
  }
  .city_input, .date, .people, .search_button {
    width: 100% !important;
    margin: 5px 0 !important;
    height: 50px !important;
  }
  .form-select {
    padding-left: 15px !important; 
  }
  .search_button {
    margin-top: 10px !important;
    font-size: 20px !important;
  }
  /* Информация */
  .info{
    margin-top: 60px !important;
    font-size: 16px;
    font-weight: 400;
  }
  .info_card{
    height: fit-content;
    width: 230px;
  }
  .info_img{
    margin-top: 20px !important;
    width: 60px;
    height: 60px;
  }
  .info_label{
    padding: 10px;
    height: 150px !important; 
  }
  /* Города */
  .popular_cities{
    margin-bottom: 0px;
  }
  .popular_cities_label{
    font-size: 26px;
  }
  .card{
    width: 165px;
  }
  .price_label{
    font-size: 15px;
  }
  .title_city_label{
    font-size: 16px;
  }

}
@media (max-width: 767.98px) {
  .car-4{
    display: none !important;
  }
   /* шапка */
  .qwe{
    width: 100% !important;
  }
  /* инфо */
  .info {
    flex-direction: column;
    margin-top: 40px !important;
  }
  .qw_info {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .info_card {
    width: 100% !important;
    height: auto !important;
    padding: 15px;
  }
  .info_label {
    height: auto !important;
    padding: 10px;
    font-size: 18px !important;
  }
}
@media (max-width: 575.98px) {
  /* шапка */
  .header{
    width: 100%;
  }
  .favorites{
    margin-top: 30px !important;
    margin-left: 20px !important;
  }
  .suitcase{
    margin-top: 30px !important;
  }
  .enter{
    margin-top: 20px !important;
  }
  /* поиск */
  .search {
    margin-top: 40px;
    flex-direction: column;
    height: auto;
    padding: 15px 10px !important;
  }
  .city_input, .date, .people, .search_button {
    width: 100% !important;
    margin: 5px 0 !important;
    height: 50px !important;
  }
  .search_button {
    margin-top: 10px !important;
    font-size: 20px !important;
  }
  /* инфо */
  .info {
    flex-direction: column;
    margin-top: 40px !important;
  }
  .qw_info {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .info_card {
    width: 100% !important;
    height: auto !important;
    padding: 15px;
  }
  .info_label {
    height: auto !important;
    padding: 10px;
    font-size: 18px !important;
  }
  /* города */
  .popular_cities{
    margin-bottom: 10px;
    /* width: 100% !important; */
  }
  .popular_cities_label{
    font-size: 26px;
  }
  .card{
    width: 94%
  }
  .qw{
    display: flex;
    justify-content: center;
  }
  .carousel-control-next, .carousel-control-prev {
    width: 15% !important;
    background-color: #041f27;
  }
  .price_label{
    font-size: 15px;
  }
  .title_city_label{
    font-size: 16px;
  }

}
@media (max-width: 385.98px) {
  /* шапка */
  a.suitcase_label, a.favorites_label {
    display: none !important;
  }
  .favo {
    padding: 0 !important;
    margin: 0 !important;
    width: auto !important;
  }
  .suitcase{
    margin-left: 30px !important;
  }
  .popular_cities_label{
    font-size: 22px;
  }
  .price_label{
    font-size: 14px;
  }
  .title_city_label{
    font-size: 15px;
    font-weight: 400;
  }
}